extends layout

block content
  h1= title
  div 
    p Welcome to #{title}
  p
    span 笔记列表：
    a(href='/api/article/articleList?pageNo=1&pageSize=10')  /api/article/articleList?pageNo=1&pageSize=10
  p
    span 笔记详情：
    a(href='/api/article/getArticle?id=1')   /api/article/getArticle?id=1
     p
    span 个人信息：
    a(href='/api/users/userinfo?userId=1')  /api/users/userinfo?userId=1