extends layout

block content
  h1= title
  div 
    p Welcome to #{title}
  p
    span 文章列表：
    a(href='/api/article/articleList?pageNo=1&pageSize=10')  /api/article/articleList?pageNo=1&pageSize=10
  p
    span 文章详情：
    a(href='/api/article/getArticle?id=100022')   /api/article/getArticle?id=100022
     p
    span 用户信息：
    a(href='/api/users/userinfo?id=123')  /api/users/userinfo?id=123